body {
    padding-bottom: 100px;
}

.text-h1 {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
}

/* Header *Start* */

.header {
    padding: 12px 0;

    margin-bottom: 40px;

    position: relative;

    border-bottom: 1px solid #b3b3b3;
}

.header::after {
    content: "";

    display: block;

    background-color: #d70e2a;

    position: absolute;
    left: 0;
    top: 100%;

    width: 20%;
    height: 3px;
}

.header>.container {
    margin: 0 25px;

    display: flex;
    align-items: center;
}

.icons-wrapper {
    display: flex;
    align-items: center;
}

.header .icons-wrapper {
    margin-right: 30px;
}

.icon {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    cursor: pointer;
}

.icon>img {
    /* width: 100%;
    height: 100%; */
}

.icon:not(:last-child) {
    margin-right: 23px;
}

.header-p {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

.menu-btn {
    display: block;

    position: relative;

    width: 32px;
    height: 32px;

    cursor: pointer;
}

.menu-btn>span {
    display: block;

    position: absolute;
    left: 0;

    min-width: 75%;
    height: 2px;
    background-color: #d70e2a;
}

.menu-btn>span:nth-child(1) {
    top: 25%;
}

.menu-btn>span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn>span:nth-child(3) {
    bottom: 25%;
}

.header .menu-btn {
    margin-left: auto;
}

/* Header *Stop* */

.main-section {
    margin: 0 25px;
    padding-bottom: 40px;
    margin-bottom: 40px;

    border-bottom: 1px solid #b3b3b3;
}

.section {
    margin: 0 25px;
}

.section:not(:last-child) {
    padding-bottom: 60px;
    margin-bottom: 40px;

    border-bottom: 1px solid #b3b3b3;
}

.section-h2 {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.section-h2:not(:last-child) {
    margin-bottom: 52px;
}

.design-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
    gap: 20px;
}

.design-list__item {
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
}

.design-list__item.black {
    padding: 20px 15px;
    padding-bottom: 50px;

    background: rgb(23, 23, 23);
}

.design-list__item.black .design-list__item__text-p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.design-list__item__img {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    overflow: hidden;
}

.design-list__item__img:not(:last-child) {
    margin-bottom: 21px;
}

.design-list__item.top-line .design-list__item__img:not(:last-child) {
    margin-bottom: 44px;
}

.design-list__item__info {
    position: relative;
    box-sizing: border-box;
}

.design-list__item__info.top-line {
    padding-top: 20px;

    border-top: 1px solid #e5e5e5;
}

.design-list__item__info.top-line.semi::before {
    content: "";

    display: block;

    background-color: #000000;

    position: absolute;
    left: 0;
    top: -1px;

    width: 20%;
    height: 1px;
}

.design-list__item__text-p {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.design-list__item.black .design-list__item__text-p {
    color: rgb(255, 255, 255);
}

.preview-with-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

.preview-with-info__preview {
    width: 100%;

    overflow: hidden;
}

.preview-with-info__preview>img {
    width: 100%;
    height: auto;
}

.pros-list {
    display: flex;
    flex-direction: column;
}

.pros-list__item {
    display: flex;
    align-items: center;
}

.pros-list__icon {
    width: 60px;
    height: 60px;
}

.pros-list__icon:not(:last-child) {
    margin-right: 41px;
    margin-left: 20px;
}

.pros-list__item:not(:last-child) {
    margin-bottom: 40px;
}

.pros-list__description {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}


.apps-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
    gap: 52px 20px;
}

.apps-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apps-list__icon {
    width: 60px;
    height: 60px;
}

.apps-list__icon:not(:last-child) {
    margin-bottom: 20px;
}

.apps-list__description {
    color: rgb(0, 0, 0);
    font-family: PT Root UI;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}


/* Adaptive styles *Start* */

.sub-header {
    display: none;
}

@media (max-width: 720px) {
    .section-h2:not(:last-child) {
        margin-bottom: 42px;
    }

    .design-list__item.black {
        padding-bottom: 25px;
    }

    .design-list {
        gap: 50px 20px;
    }

    .black .design-list__item__img>img {
        width: 90%;
    }

    .black .design-list__item__img:not(:last-child) {
        margin-bottom: 17px;
    }

    .pros-list__description {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }

    .apps-list__description {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}

@media (max-width: 700px) {
    .preview-with-info-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .pros-list__item {
        flex-direction: column;
    }

    .header {
        margin-bottom: 0;
        padding: 10px 0;
        border-bottom: none;
    }

    .header>.container {
        margin: 0 10px;
    }

    .header::after {
        display: none;
    }

    .header .header-p {
        display: none;
    }

    .icon>img {
        width: 25px;
        height: 25px;
    }

    .icon:not(:last-child) {
        margin-right: 7px;
    }

    .sub-header {
        display: block;

        margin-bottom: 30px;

        padding: 0 15px;

        background: rgb(239, 239, 239);

        color: rgba(0, 0, 0, 0.7);
        font-family: PT Root UI;
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
    }

    .main-section {
        margin: 0 15px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .text-h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
    }

    .section {
        margin: 0 15px;
    }

    .section-h2 {
        font-size: 22px;
        line-height: 31px;
    }

    .section-h2:not(:last-child) {
        margin-bottom: 30px;
    }

    .design-list {
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 42px 7px;
    }

    .design-list__item {
        grid-column: span 2;
    }

    .design-list__item.small {
        grid-column: span 1;
    }

    .design-list__item:nth-child(2) {
        order: 4;
    }

    .design-list__item__text-p {
        font-size: 12px;
        line-height: 18px;
    }

    .design-list__item__img:not(:last-child) {
        margin-bottom: 20px;
    }

    .apps-list {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .apps-list__item {
        flex-direction: row;
        align-items: flex-start;
    }
    .apps-list__item:not(:last-child) {
        border-bottom: 1px solid #b3b3b3;
    }
    .apps-list__item:nth-child(2n) {
        flex-direction: row-reverse;
    }
    .apps-list__item img {
        margin-right: 18px;
    }

    .apps-list__description {
        font-size: 12px;
        line-height: 17px;
    }
    .section:not(:last-child) {
        padding-bottom: 53px;
        margin-bottom: 20px;
    }
    .preview-section {
        margin-left: 0;
        margin-right: 0;
    }
    .preview-section .section-h2 {
        margin-left: 15px;
        margin-right: 15px;
    }
    .preview-section .pros-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    .pros-list__icon:not(:last-child) {
        margin-left: 0;
        margin-right: 0;
    }
    .pros-list__icon:not(:last-child) {
        margin-bottom: 16px;
    }
    .pros-list__description {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
    .accessories-section .design-list > .design-list__item:nth-child(2) {
        order: unset;
    }
    .accessories-section .design-list > .design-list__item:nth-child(3), .accessories-section .design-list > .design-list__item:nth-child(4) {
        grid-column: span 1;
    }
}

/* Adaptive styles *Stop* */